@media only screen and (max-device-width: 667px) {
  body {
    font-size: 40px;
  }
  .left, .right {
    float: left;
    clear: both;
  }
  .footer {
    font-size: 30px;
  }
}
@media only screen and (min-device-width: 667px) {
  body {
    font-size: medium;
  }
  .right {
    float: right;
  }
  .citation-body {
    margin-left: 2em;
  }
}
body {
  width: 80%;
  font-family: 'Iowan Old Style', 'Palatino Linotype', 'URW Palladio L', P052, serif;
  font-weight: normal;
  margin: 80px auto;
  line-height: 1.5em;
}
h1, h2, h3, h4, h5, h6 {
  line-height: 1.5em;
}
a {
  color: black;
  text-decoration: none;
  border-bottom: 1px solid #ddd;
}
a:hover {
  border-bottom: 1px solid black;
}
pre, .wrapped, code {
  font-family: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;
  width: 99%;
  white-space: pre-wrap;      /* CSS 2.1 */
  word-wrap: break-word;      /* IE 5+ */
  word-break: break-all
  line-break: anywhere;
}
hr {
  padding: 0;
  border: none;
  color: LightGray;
  text-align: center;
}
hr:after {
  content: "❧";
  display: inline-block;
  font-size: 2em;
}
.external {
  text-indent: -1.5em;
}
.external:before {
  content: "☞";
  padding-right: .5em;
}
.metadata, .citation, .license {
  margin-top: 2em;
  clear: both;
}
.citation-body {
  clear: both;
  color: gray;
}
time {
  color: gray;
}
.title {
  float: left;
}
.header h1 {
  margin-bottom: 0px;
}
.subhead {
  padding-top: 1em;
  float: right;
  text-align: right;
  color: gray;
}
.subhead a {
  color: gray;
}
.clear {
  clear: both;
}
